#espaco {
  height: 4.4rem;
}

main {
  min-height: 100vh;
  padding: 6rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-geral {
  width: 100%;
}

#title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  display: flex;
}

#title > span {
  color: #00ff80;
  font-size: 2.7rem;
}

#list-mobile {
  display: none;
}

#list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: white;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 1rem 0 black;
}

.titulos-container {
  display: flex;
  font-size: 1.3rem;
  gap: 0.2rem;
  height: 4rem;
  border-bottom: 0.2rem solid #1c1c1c;
}

.coloringTitles {
  background-color: black;
  color: #00ff80;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
}

.style-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.style-container:nth-child(1),
.style-container:nth-child(4) {
  width: 8%;
}

.style-container:nth-child(2) {
  width: 15%;
}

.style-container:nth-child(3) {
  width: 40%;
}

.style-container:nth-child(5) {
  width: 25%;
}

.style-container:nth-child(6) {
  width: 12%;
}

.cards {
  display: flex;
  gap: 0.2rem;
  height: 8rem;
  align-items: center;
  background-color: black;
  border-bottom: 0.2rem solid #1c1c1c;
}

.cards:last-child {
  border: none;
}

.idJogo {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.imgJogo {
  height: 7rem;
  object-fit: cover;
  object-position: center;
}

.titleJogo {
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  padding: 0 2rem;
}

.buttonsEditar {
  gap: 1rem;
}

.edit-button,
.remove-button {
  background: none;
  z-index: 1;
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-image: url(./assets/edit.svg);
}

.remove-button {
  background-image: url(./assets/lixeira.svg);
}

.edit-button,
.remove-button,
.edit-button2,
.remove-button2 {
  transition: transform 0.1s;
}

.edit-button:hover,
.remove-button:hover,
.edit-button2:hover,
.remove-button2:hover {
  transform: scale(1.15);
}

.notajogo {
  font-size: 1.7rem;
}

.progress {
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  padding: 0 2rem;
}

@media (max-width: 980px) {
  .style-container:nth-child(3) {
    width: 28%;
  }
  .style-container:nth-child(1),
  .style-container:nth-child(4) {
    width: 12%;
  }

  .style-container:nth-child(2) {
    width: 20%;
  }

  .style-container:nth-child(6) {
    width: 16%;
  }

  .style-container:nth-child(5) {
    width: 22%;
  }

  .buttonsEditar {
    gap: 1rem;
  }

  .edit-button,
  .remove-button {
    width: 2.5rem;
    height: 2.5rem;
  }
}

#editarLista,
#excluirLista {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: -10rem;
  background-color: rgba(0, 0, 0, 0.404);
  font-family: "Poppins", sans-serif;
}

#containerExcluirLista {
  width: 35rem;
  height: 12rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #00ff80;
  gap: 2rem;
  border-radius: 1rem;
  border: 0.1rem solid white;
  animation: minhaAnimacao 1s ease;
}

#containerExcluirLista > h2 {
  text-align: center;
}

#botoesExcluir {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#botoesExcluir > button {
  width: 10rem;
  padding: 0.4rem 0;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

#botoesExcluir > button:nth-child(1) {
  background-color: transparent;
  color: white;
  border: 0.2rem solid red;
 }
 
 #botoesExcluir > button:nth-child(1):hover {
  background-color: red;
 } 

 #botoesExcluir > button:nth-child(2) {
  background-color: transparent;
  color: white;
  border: 0.2rem solid #00ff80;
 } 

 #botoesExcluir > button:nth-child(2):hover {
  background-color: #00ff80;
 } 

.editItems {
  color: white;
  background-color: black;
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 0.1rem 0.1rem white;
  min-width: 25rem;
  animation: minhaAnimacao 1s ease;
}

.editItems > h2 {
  color: #00ff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

#alterarCampos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#inputNota {
  margin-bottom: 1.5rem;
}

#inputNota > label {
  font-size: 1.7rem;
}

#inputNota > input {
  width: 3rem;
  height: 2.1rem;
  border-radius: 0.5rem;
  background-color: black;
  border: 0.15rem solid #00ff80;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
}

#inputNota > input:focus {
  outline: none;
}

#alterarCampos > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  position: relative;
  gap: 3rem;
  cursor: pointer;
}

.itemsInput {
  padding-left: 2.5rem;
  white-space: nowrap;
}

input[type="radio"] {
  display: none;
}

.radioPersonalizado {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #00ff80;
  border-radius: 50%; /* Torna o elemento circular */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

input[type="radio"]:checked + .radioPersonalizado {
  background: white;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons button {
  background: none;
  color: white;
  border: 0.15rem solid #00ff80;
  width: 10rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  font-size: 1.4rem;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.247);
}

#cancelar {
  border: 0.15rem solid red;
}

#pesquisasTotal {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
}

/* Botão de pesquisa */

.botao-pesquisa {
  height: 100%;
  display: flex;
  align-items: center;
}

#btn-pesquisa {
  background-color: black;
  width: 35rem;
  border: 0.2rem solid #00ff80;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 3.2rem;
  color: white;
  padding-left: 3.7rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  position: relative;
}

#image-search {
  width: 100%;
  height: 100%;
}

.imagem-pesquisa {
  position: absolute;
  width: 4rem;
  height: 2rem;
  margin-top: -2.6rem;
  background: none;
}

#btn-pesquisa:focus {
  border: 0.2rem solid white;
}
#pesquisar {
  height: 3.2rem;
  border: 0.2rem solid #00ff80;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1.3rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

#pesquisar:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

#linha {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
}

#naoTemJogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

#naoTemJogo > h2 {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#naoTemJogo h2 > img {
  width: 3rem;
  height: 3rem;
}

@keyframes minhaAnimacao {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  #list-container {
    display: none;
  }

  .edit-button {
    text-decoration: none;
  }

  #list-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cards-mobile {
    width: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
    border: 0.1rem solid white;
    box-shadow: 0 0 1rem 0.5rem black;
    border-radius: 1rem;
    padding: 2rem 3rem;
    background: #00000070;
  }
  .cards-mobile > h2 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
  }

  .cards-mobile > h2 > span {
    color: #00ff80;
  }

  .cards-mobile > p {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .cards-mobile > p > span {
    color: #00ff80;
    padding-right: 1rem;
  }

  .cards-mobile > p:nth-last-child(1) {
    color: #00ff80;
  }

  .cards-mobile > img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }

  .edit-button2,
  .remove-button2 {
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    background-size: cover;
    margin-left: 1.5rem;
    cursor: pointer;
  }

  .edit-button2 {
    background-image: url("./assets/edit.svg");
  }

  .remove-button2 {
    background-image: url("./assets/lixeira.svg");
  }

  #progresso-mobile {
    margin-top: -1rem;
  }

  #pesquisasTotal {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 480px) {
  #btn-pesquisa {
    width: 25rem;
  }
}
